<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <div class="dashboard-links">
        <a href="/service/manage" class="dashboard-cards">
            <h3>Service Requests</h3>
            <p>View, edit, and manage service tickets</p>
        </a>

        <a href="vehicles/new" class="dashboard-cards">
            <h3>Add New Vehicles</h3>
            <p>Add and edit your vehicle inventory</p>
        </a>

        <a href="/contact/manage" class="dashboard-cards">
            <h2>Contact Messages</h2>
            <p>Respond to users and manage FAQs</p>
        </a>
    </div>

    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>