<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <div class="dashboard-links">
        <a href="/service/manage" class="dashboard-cards">
            <h3>Service Requests</h3>
            <p>View, edit, and manage service tickets</p>
        </a>
    </div>
</body>
</html>