<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
    <body>
        <header>
            <%- include("partials/header") %>
        </header>

        <section class="hero">
            <div class="hero-content">
                <h2>Valley Forge Auto</h2>
                <p>Find Your Dream Car Today</p>
                <a href="/vehicles" class="primary-btn">Browse Inventory</a>
            </div>
        </section>

        <section class="inventory">
            <h2>Featured Vehicles</h2>

            <div class="car-grid">
                <% vehicles.forEach(vehicle => { %>
                    <%- include("partials/car-card", { vehicle: vehicle }) %>
                <% }) %>
            </div>
        </section>
        
        <footer> <%- include("partials/footer") %></footer>
    </body>
</html>