<%- include("partials/header") %>

<h1>Add Vehicle</h1>

<form method="POST" action="/vehicles">
    <input name="title" placeholder="Vehicle Name" required/>
    <input name="year" type="number" placeholder="Car manufacture year" required/>
    <input name="price" type="number" placeholder="Price of vehicle" required/>
    <textarea name="description" placeholder="Description of the vehicle"></textarea>

    <button type="submit">Add Vehicle</button>
</form>